
.principal{
    display: flex;
}

table
{
    border-collapse: collapse;
}

tr
{
    border: 1px solid black; 
    width: 25px;
    height: 25px;
}

td 
{
    border: 1px solid black; 
    width: 25px;
    height: 25px;
}

.gauche
{
    border: 1px solid black;
    width: 50px;
    height: 26rem; 
}

.bas{
    border: 1px solid black;
    width: 29.3rem;
    height: 10rem;
}

.score
{
    border: 1px solid black;
    width: 100%;
    height: 70px;
}

.fuel
{
    border: 1px solid black;
    width: 100%;
    height: 70px;
}

.milieu1{
    display: flex;
    flex-direction: column;
}

table
{
    background-color: gray;
}

.rouge
{
    background-color: red;
}
.vert
{
    background-color: green;
}
.bleu
{
    background-color: blue;
}
